@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded");
@import "../../node_modules/bootstrap/scss/functions";
@import "./utils/variables";
@import "../../node_modules/bootstrap";

@import "./base/base";

@import "./layout/header";
@import "./layout/footer";

@import "./pages/index";
@import "./pages/user";
