/* 引入字體 */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* 顏色 */
:root {
  --primary-100: #f5fee7;
  --primary-200: #e8fec5;
  --primary-300: #c0fa73;
  --primary-400: #57a203;
  --neutral-100: #f8f9fa;
  --neutral-200: #e9ecef;
  --neutral-300: #dee2e6;
  --neutral-400: #ced4da;
  --neutral-500: #adb5bd;
  --neutral-600: #6c757d;
  --neutral-700: #495057;
  --neutral-800: #343a40;
  --neutral-900: #212529;

  --color-black: #000000;
  --color-white: #ffffff;
}

/* 標籤基本樣式 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400px;
  letter-spacing: 0.05em;
  color: var(--neutral-900);
}

/* 通用樣式 */
a {
  color: var(--neutral-900);
  text-decoration: none;
  display: block;
  font-weight: 500;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}
.justify-content-around {
  justify-content: space-around;
}

.align-items-center {
  align-items: center;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 700;
  line-height: 1.2;
}
.h1 {
  font-size: 40px;
}
.h2 {
  font-size: 32px;
}
.h3 {
  font-size: 28px;
}
.h4 {
  font-size: 24px;
}
.h5 {
  font-size: 20px;
}
.h6 {
  font-size: 16px;
}

.text-lg,
.text-md,
.text-sm {
  font-weight: 400;
}

.text-lg {
  font-size: 20px;
}
.text-md {
  font-size: 16px;
}

.text-sm {
  font-size: 14px;
}
.text-white {
  color: var(--color-white);
}

.text-primary-400 {
  color: var(--primary-400);
}
.text-neutral-600 {
  color: var(--neutral-600);
}

.bg-primary-100 {
  background-color: var(--primary-100);
}
.bg-primary-200 {
  background-color: var(--primary-200);
}

.bg-neutral-100 {
  background-color: var(--neutral-100);
}
/* 間距設定 */
.container {
  max-width: 1296px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
}
.col-2 {
  width: calc(100% / 12 * 2);
  padding-left: 12px;
  padding-right: 12px;
}
.col-3 {
  width: calc(100% / 12 * 3);
  padding-left: 12px;
  padding-right: 12px;
}
.col-4 {
  width: calc(100% / 12 * 4);
  padding-left: 12px;
  padding-right: 12px;
}
.col-5 {
  width: calc(100% / 12 * 5);
  padding-left: 12px;
  padding-right: 12px;
}
.col-6 {
  width: calc(100% / 12 * 6);
  padding-left: 12px;
  padding-right: 12px;
}
.col-7 {
  width: calc(100% / 12 * 7);
  padding-left: 12px;
  padding-right: 12px;
}
.col-8 {
  width: calc(100% / 12 * 8);
  padding-left: 12px;
  padding-right: 12px;
}
.col-9 {
  width: calc(100% / 12 * 9);
  padding-left: 12px;
  padding-right: 12px;
}
.col-10 {
  width: calc(100% / 12 * 10);
  padding-left: 12px;
  padding-right: 12px;
}
.col-11 {
  width: calc(100% / 12 * 11);
  padding-left: 12px;
  padding-right: 12px;
}
.col-12 {
  width: 100%;
  padding-left: 12px;
  padding-right: 12px;
}

.p-12 {
  padding: 12px;
}

.p-48 {
  padding: 48px;
}
.pe-8 {
  padding-left: 8px;
}
.pe-40 {
  padding-left: 40px;
}
.pe-48 {
  padding-left: 48px;
}
.pr-8 {
  padding-right: 8px;
}
.pb-24 {
  padding-bottom: 24px;
}
.pb-48 {
  padding-bottom: 48px;
}
.pb-64 {
  padding-bottom: 64px;
}
.py-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}
.py-12 {
  padding-top: 12px;
  padding-bottom: 12px;
}
.py-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}
.py-24 {
  padding-top: 24px;
  padding-bottom: 24px;
}
.py-32 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.py-64 {
  padding-top: 64px;
  padding-bottom: 64px;
}

.px-12 {
  padding-left: 12px;
  padding-right: 12px;
}
.mr-12 {
  margin-right: 12px;
}
.me-8 {
  margin-left: 8px;
}
.me-12 {
  margin-left: 12px;
}
.mr-24 {
  margin-right: 24px;
}
.mb-4 {
  margin-bottom: 4px;
}
.mb-12 {
  margin-bottom: 12px;
}
.mb-16 {
  margin-bottom: 16px;
}
.mb-24 {
  margin-bottom: 24px;
}
.mb-32 {
  margin-bottom: 32px;
}
.mb-48 {
  margin-bottom: 48px;
}

.radius-sm {
  border-radius: 16px;
}
.text-center {
  text-align: center;
}

/* 元件 */
.btn {
  border-radius: 4px;
  cursor: pointer;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  border: none;
  /* 透明色背景 */
  background-color: transparent;
}

.btn-dark {
  background-color: var(--neutral-900);
  color: var(--color-white);
}

.section-line {
  border-bottom: 1px solid var(--neutral-300);
}
