.bg-gray {
  background-color: #f0f3f5;
}

.py-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.rounded-panel {
  background-color: #fcfcfd;
  padding: 48px;
}

.text-blue {
  color: #4a69e8;
}
.subtitle {
  font-style: 18px;
  color: #667f99;
}

.side-width {
  width: 300px;
}

.copyright {
  font-size: 14px;
  color: #999999;
  align-self: center;
}
