// jumbotron
.jumbotron {
  text-align: left;
  padding-top: 289px;
  padding-bottom: 288px;
  padding-left: 200px;
  background-image: url(/assets/images/banner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 576px) {
  .jumbotron {
    background-image: url(/assets/images/banner-sm.png);
    padding-top: 155px;
    padding-bottom: 155px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

//  category
.tag {
  position: relative;
  .tag-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    padding: 8px 12px;
    background-color: $primary-100;
    color: $primary-400;
    position: absolute;
    top: 0;
    left: 0;
  }
}
@media screen and (max-width: 576px) {
  .product-md-row {
    flex-wrap: nowrap;
    margin-right: -8px;
    margin-left: -8px;
    .product-md-col {
      padding-right: 8px;
      padding-left: 8px;
    }
    img {
      max-width: 300px;
    }
  }
}

// banner
.banner {
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url(/assets/images/banner-co-branded.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;
}

.star {
  position: absolute;
  top: 68px;
  left: calc(50% - 397px);
}

.sparkle {
  position: absolute;
  bottom: 132px;
  right: calc(50% - 357px);
}
@media screen and (max-width: 576px) {
  .banner {
    padding-top: 64px;
    padding-bottom: 64px;
    background-image: url(/assets/images/banner-co-branded-sm.png);
    overflow: hidden;
  }
  .star {
    top: 32px;
    left: -20px;
  }

  .sparkle {
    bottom: 104px;
    right: -28px;
  }
}

// category
.category {
  position: relative;
  .category-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    padding: 8px 12px;
    background-color: rgba(black, 0.4);
    color: $color-white;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

// inspiration
.inspiration-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -4px;
  margin-left: -4px;
}
.inspiration-col-4 {
  width: calc(100% / 12 * 4);
  padding-right: 4px;
  padding-left: 4px;
}
.inspiration-col-6 {
  width: calc(100% / 12 * 6);
  padding-right: 4px;
  padding-left: 4px;
}
.inspiration-col-12 {
  width: calc(100% / 12 * 12);
  padding-right: 4px;
  padding-left: 4px;
}
@media screen and (max-width: 576px) {
  .inspiration-row {
    flex-wrap: nowrap;
    margin-right: -8px;
    margin-left: -8px;

    img {
      max-width: 300px;
    }
  }
  .inspiration-col-4,
  .inspiration-col-6,
  .inspiration-col-12 {
    width: unset;
    padding-right: 8px;
    padding-left: 8px;
  }
}
