.breadcrumbs-item + .breadcrumbs-item::before {
  content: "/";
  padding: 0 12px;
  color: $neutral-300;
  font-weight: 700;
}
.breadcrumbs-item {
  display: flex;
}
@media screen and (max-width: 767px) {
  .breadcrumbs-item + .breadcrumbs-item::before {
    padding: 0 8px;
  }
  .breadcrumbs-item {
    font-size: 14px;
  }
}

.breadcrumbs-item {
  color: $neutral-900;
  font-weight: 500;
}
.breadcrumbs-link {
  color: $neutral-500;
  font-weight: 500;
}

.category .active {
  color: $primary-400;
  font-weight: 500;
}

.page-item .btn {
  border-radius: 0;
  font-weight: 400;
  padding: 8px 15px;
}
.page-item .active {
  background-color: $primary-300;
  font-weight: 500;
}
