/* 引入字體 */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@import "./helper/variables";
@import "./helper/utils";
@import "./base/reset";
@import "./base/base";
@import "./components/button";

@import "./layout/header";
@import "./layout/footer";

@import "./pages/product";
@import "./pages/products";
@import "./pages/story";
@import "./pages/index";
