/* 元件 */
.btn {
  border-radius: 4px;
  cursor: pointer;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  border: none;
  /* 透明色背景 */
  background-color: transparent;
}

@media screen and (max-width: 576px) {
  .btn {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .btn-md {
    padding: 12px 24px;
  }
}

.btn-dark {
  background-color: $neutral-900;
  color: $color-white;
}
.btn-light {
  border: 1px solid neutral-900;
}
.btn-primary {
  background-color: $primary-300;
  color: $color-black;
}
